<<<<<<< HEAD
<footer>
    <h1>
        <section>
        Built with Node.js
    </section>
    </h1>
</footer>
=======
<footer>
    <h1>
        <section>
        Built with Node.js
    </section>
    </h1>
</footer>
>>>>>>> da4b4bd (wd level 7)
