<<<<<<< HEAD
<html>
    <body>
<h1>
    This is my Todo Application
</h1>
</body>
</html>
=======
<html>
    <body>
<h1>
    This is my Todo Application
</h1>
</body>
</html>
>>>>>>> da4b4bd (wd level 7)
